interactions:
- request:
    body: '{"url": "https://odysseypa.traviscountytx.gov/JPPublicAccess/default.aspx"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56094/session/90437388dfaa5fed6a23a24f09512c96/url
  response:
    body:
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"using": "link text", "value": "Civil, Family & Probate Case Records"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56094/session/90437388dfaa5fed6a23a24f09512c96/element
  response:
    body:
      string: '{"value":{"element-6066-11e4-a52e-4f735466cecf":"89e6de4d-ecbe-4341-99c2-f91f5201930d"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "89e6de4d-ecbe-4341-99c2-f91f5201930d"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56094/session/90437388dfaa5fed6a23a24f09512c96/element/89e6de4d-ecbe-4341-99c2-f91f5201930d/click
  response:
    body:
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"text": "J1-CV-20-001590", "value": ["J", "1", "-", "C", "V", "-", "2",
      "0", "-", "0", "0", "1", "5", "9", "0"], "id": "589b323e-6a09-4490-8566-58354ab3b60e"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56094/session/90437388dfaa5fed6a23a24f09512c96/element/589b323e-6a09-4490-8566-58354ab3b60e/value
  response:
    body:
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"implicit": 1000}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56094/session/90437388dfaa5fed6a23a24f09512c96/timeouts
  response:
    body:
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: GET
    uri: http://127.0.0.1:56094/session/90437388dfaa5fed6a23a24f09512c96/source
  response:
    body:
      string: '{"value":"\u003Chtml>\u003Chead>\n    \u003Clink rel=\"stylesheet\"
        type=\"text/css\" href=\"CSS/PublicAccess.css\">\n  \u003C/head>\n  \u003Cbody>\n    \u003C!--?xml
        version=\"1.0\" encoding=\"utf-8\"?-->\u003Ctable cellspacing=\"0\" cellpadding=\"0\"
        width=\"100%\" border=\"0\" style=\"table-layout: fixed; margin:0px; padding:0px;\"
        xmlns:msxsl=\"urn:schemas-microsoft-com:xslt\" xmlns:publicaccessuser=\"urn:PublicAccessUser\">\u003Ctbody>\u003Ctr>\u003Ctd
        class=\"ssHeaderTitleBanner\">Civil, Family &amp; Probate Case Records Search
        Results\u003C/td>\u003C/tr>\u003C/tbody>\u003C/table>\u003Ctable cellspacing=\"0\"
        cellpadding=\"0\" width=\"100%\" border=\"0\" style=\"table-layout: fixed;
        margin:0px; padding:0px;\" xmlns:msxsl=\"urn:schemas-microsoft-com:xslt\"
        xmlns:publicaccessuser=\"urn:PublicAccessUser\">\u003Ctbody>\u003Ctr>\u003Ctd
        bgcolor=\"#000000\" height=\"20px\">\u003Ctable cellspacing=\"0\" cellpadding=\"0\"
        width=\"100%\" border=\"0\">\u003Ctbody>\u003Ctr>\u003Ctd align=\"left\" style=\"padding-left:
        5px\">\u003Cfont size=\"1\">\u003Ca class=\"ssBlackNavBarHyperlink\" href=\"#MainContent\">Skip
        to Main Content\u003C/a>&nbsp;\u003Ca cl[...]
[...]
