interactions:
- request:
    body: '{"url": "https://odysseypa.traviscountytx.gov/JPPublicAccess/default.aspx"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56028/session/8478fb61a155d2a721b7a5748723b5b0/url
  response:
    body:
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"using": "link text", "value": "Civil, Family & Probate Case Records"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56028/session/8478fb61a155d2a721b7a5748723b5b0/element
  response:
    body:
      string: '{"value":{"element-6066-11e4-a52e-4f735466cecf":"103f23ba-2efc-44a0-960f-45fe498984c9"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "103f23ba-2efc-44a0-960f-45fe498984c9"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56028/session/8478fb61a155d2a721b7a5748723b5b0/element/103f23ba-2efc-44a0-960f-45fe498984c9/click
  response:
    body:
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "5bffdd61-26e1-4f70-9458-25776a7c8890"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56028/session/8478fb61a155d2a721b7a5748723b5b0/element/5bffdd61-26e1-4f70-9458-25776a7c8890/clear
  response:
    body:
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"text": "6/1/2020", "value": ["6", "/", "1", "/", "2", "0", "2", "0"],
      "id": "5bffdd61-26e1-4f70-9458-25776a7c8890"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://127.0.0.1:56028/session/8478fb61a155d2a721b7a5748723b5b0/element/5bffdd61-26e1-4f70-9458-25776a7c8890/value
  response:
    body:
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: GET
    uri: http://127.0.0.1:56028/session/8478fb61a155d2a721b7a5748723b5b0/source
  response:
    body:
      string: '{"value":"\u003Chtml>\u003Chead>\n    \u003Clink rel=\"stylesheet\"
        type=\"text/css\" href=\"CSS/PublicAccess.css\">\n  \u003C/head>\n  \u003Cbody>\n    \u003C!--?xml
        version=\"1.0\" encoding=\"utf-8\"?-->\u003Ctable cellspacing=\"0\" cellpadding=\"0\"
        width=\"100%\" border=\"0\" style=\"table-layout: fixed; margin:0px; padding:0px;\"
        xmlns:msxsl=\"urn:schemas-microsoft-com:xslt\" xmlns:publicaccessuser=\"urn:PublicAccessUser\">\u003Ctbody>\u003Ctr>\u003Ctd
        class=\"ssHeaderTitleBanner\">Civil, Family &amp; Probate Case Records Search
        Results\u003C/td>\u003C/tr>\u003C/tbody>\u003C/table>\u003Ctable cellspacing=\"0\"
        cellpadding=\"0\" width=\"100%\" border=\"0\" style=\"table-layout: fixed;
        margin:0px; padding:0px;\" xmlns:msxsl=\"urn:schemas-microsoft-com:xslt\"
        xmlns:publicaccessuser=\"urn:PublicAccessUser\">\u003Ctbody>\u003Ctr>\u003Ctd
        bgcolor=\"#000000\" height=\"20px\">\u003Ctable cellspacing=\"0\" cellpadding=\"0\"
        width=\"100%\" border=\"0\">\u003Ctbody>\u003Ctr>\u003Ctd align=\"left\" style=\"padding-left:
        5px\">\u003Cfont size=\"1\">\u003Ca class=\"ssBlackNavBarHyperlink\" href=\"#MainContent\">Skip
        to Main Content\u003C/a>&nbsp;\u003Ca cl[...]
